
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/free-photo/blue-smooth-wall-textured-background_53876-106133.jpg?w=740&t=st=1690798542~exp=1690799142~hmac=1f3a5ad8be322b1dafc0506b6d296cbe40ab11065aa66e38a1aead703a790ef3");
    background-size: cover;
    background-position: center;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  h3 {
    margin-top: 10px;
  }
  
  p {
    line-height: 1.6;
  }
  
  ul {
    margin-bottom: 20px;
  }
  
  li {
    margin-bottom: 8px;
  }
  

  .team-member {
    margin-bottom: 20px;
  }
  
  .team-member h3 {
    margin-top: 5px;
    color: #007BFF;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info p {
    margin: 5px 0;
  }
  
  .contact-info p:first-child {
    font-weight: bold;
  }
  
  .contact-info a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    text-decoration: underline;
  }
  