<body >
    <div>

        <div>
            <h2>Getting Started</h2>
            <p>
                Welcome to our Student Management System! Helpline Portal
            </p>
        </div>

        <div>
            <h2>Dashboard and Navigation</h2>
            <p>
                The dashboard is the main page of the system where you can access various modules and features. The
                navigation menu on the left-hand side allows you to switch between different sections of the system,
                such as:
            </p>
            <ul>
                <li>Home: Overview of the dashboard and system status.</li>
                <li>ADDStudents: Add New Student.</li>
                <li>StudentList: View and manage details and enrollment.</li>
                <li>About: Information About the Portal.</li>
            </ul>
        </div>

        <div>
            <h2>Troubleshooting</h2>
            <p>
                If you encounter any issues or errors while using the system, please try the following steps:
            </p>
            <ul>
                <li>Refresh the page and check if the issue persists.</li>
                <li>Clear your browser's cache and cookies.</li>
                <li>If the problem still exists, please contact our support team at 123guptakrishna@gmail.com or call us at +917781004514.</li>
            </ul>
        </div>

        <div>
            <h2>Feedback and Suggestions</h2>
            <p>
                We value your feedback! If you have any suggestions for improving the system or encounter any
                difficulties, please let us know. Your feedback will help us enhance the system and provide a better
                experience for all users. Send your feedback to 123guptakrishna@gmail.com.
            </p>
        </div>
    </div>
</body>